<%- include('partials/header'); %>
    <h1 class='title'>
        <%= title %>
    </h1>
    <div class="body">
        <a href="/items"><strong>Total Items:</strong>
            <%= item_count %>
        </a>
        <a href="/category"><strong>Total Categories:</strong>
            <%= category_count %>
        </a>
    </div>
    <%- include('partials/footer'); %>